{% extends 'layout.twig' %}
{% block content %}
<div class="container py-3">
  <h1 class="h2">Newsletter-Vorlagen</h1>
  <p class="text-muted">Vorlagen bearbeiten und klonen.</p>
</div>
{% endblock content %}
