<!DOCTYPE html>
<html lang="de" data-bs-theme="light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                app_settings.app_name|default("Chor Manager")
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet"
              href="/vendor/bootstrap-icons/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/theme.css">
    </head>
    <body class="p-3">
        {% block content %}
        {% endblock content %}

        <script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/js/common.js"></script>
        <script src="/vendor/tinymce/tinymce/tinymce.min.js"></script>
        <script src="/js/tinymce-init.js"></script>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>
